
header
{
   width:100%;
    height:auto;
    margin:auto;
    padding:20px 0px;
    border:0px solid red;
}

header .headerSearch
{
    width:100%;
    height:55px;
    border:1px solid #bce3c9;
    padding:6px 7px; 
    font-size: 16px;
    border-radius: 4px;
}
header .headerSearch .selectDropWrapper
{
    width:35%;
    font-size:bold;
    font-weight: 500;
    text-transform: capitalize;
    position:absolute;
    top: 0px;
    padding-right: 15px;
}
header .headerSearch .selectDropWrapper::after{
    content: '';
    width:1px;
    height: 30px;
    background-color: #cacaca;
    position: absolute;
    top: 4px;
    right:0px;

}
header .headerSearch .search{
width:70%;
padding-left: 15px;
position: relative;
}

header .headerSearch .search input{
    width:100%;
    height:30px;
    border:0px;
    outline: none;
    }
    .cursor
    {cursor: pointer;}
    header .headerSearch .search .searchicon
    {
        position: absolute;
        top: 5px;
        right: 15px;
    }
    header .countryWrapper .selectDropWrapper
    {
       width:160px; 
       padding-left:12px;
       display:flex;
       align-items: center;
       border:1px solid #ccc;
       height:55px;
       box-shadow: 0 3px 6px rgb(0 0 0 / 20%);
    }
    header .selectOpen
    {
        width:100%;
    }
    header .countryWrapper .selectDropWrapper .selectDrop
    {
        left:0px !important;
    }
    header .countryWrapper .selectOpen
{
    color:#3bb77e !important;
}
header .headerTabs
{
    padding-left:40px;
}
header .headerTabs li
{
    position: relative;
    margin-left:10px;
}
header .headerTabs li span{
    font-size:18px;
    cursor: pointer;
}
header .headerTabs li span img{
    margin-right: 10px;
}

header .headerTabs li span .badge{
    width:25px;
    height:25px;
    color:#fff;
    font-size:12px;
    font-weight:400;
    position:absolute;
    top:-16px;
    left:15px;
}
.dropdownMenu
{
    position:absolute;
    top:50px;
    width:200px;
    left:0px;
    right:0px !important;
    height:auto;
    background: #fff;
    box-shadow: 0 3px 6px rgb(0 0 0 / 20%);
    margin:0px !important;
}
 .dropdownMenu li{
    list-style: none;
    width: 100%;
}
 .dropdownMenu button{
    width: 100% !important;
    text-align: left !important;
    justify-content: flex-start !important;
    color:#000 !important;
    text-transform: capitalize;
    left:-26px;
    padding:10px 0px !important;
}
.dropdownMenu button svg{
    opacity: 0.7;
}

.dropdownMenu button:hover
{
    background: #ccc;
}
 