
header
{
   width:100%;
    height:auto;
    margin:auto;
    padding:20px 0px;
    border:0px solid red;
}

header .headerSearch
{
    width:100%;
    height:55px;
    border:1px solid #bce3c9;
    padding:6px 7px; 
    font-size: 16px;
}
header .headerSearch .selectDropWrapper
{
    width:160px;
    font-size:bold;
    font-weight: 500;
    text-transform: capitalize;
    position:absolute;
    top: 0px;
}
header .headerSearch .selectDropWrapper::after{
    content: '';
    width:1px;
    height: 30px;
    background-color: #cacaca;
    position: absolute;
    top: 4px;
    right:0px;

}
header .headerSearch .search{
width:84%;
padding-left: 15px;
position: relative;
}

header .headerSearch .search input{
    width:100%;
    height:30px;
    border:0px;
    outline: none;
    }
    .cursor
    {cursor: pointer;}
    header .headerSearch .search .searchicon
    {
        position: absolute;
        top: 5px;
        right: 15px;
    }